@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url(fonts/GTWalsheimProRegular.woff2) format("woff2"),url(fonts/GTWalsheimProRegular.woff) format("woff"),url(fonts/GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url(fonts/GTWalsheimProBold.woff2) format("woff2"),url(fonts/GTWalsheimProBold.woff) format("woff"),url(fonts/GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #fff;
    --black: #000;
    --all-white: #fff;
    --gray-50: #f9f9f9;
    --gray-100: #edeffd;
    --gray-200: #e3e3e3;
    --gray-300: #edeffd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #4e4e4e;
    --gray-800: #333;
    --gray-850: #262626;
    --gray-900: #171717;
    --gray-950: #0d0d0d;

    --brand-purple: #ab68ff;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;

    --sub-color: #9E9E9E;

    --color-blue-1: #15B9B9;
    --color-blue-2: #3C1DFF;

    --title-1: #9845E8;
    --title-2: #33D2FF;
    --title-3: #DD5789;

    --gradient-one-1: #9358F7;
    --gradient-one-2: #9259F7;
    --gradient-one-3: #8E5DF6;
    --gradient-one-4: #8862F5;
    --gradient-one-5: #806BF4;
    --gradient-one-6: #7575F2;
    --gradient-one-7: #6882F0;
    --gradient-one-8: #5990EE;
    --gradient-one-9: #4A9FEB;
    --gradient-one-10: #3BADE9;
    --gradient-one-11: #2EBAE7;
    --gradient-one-12: #23C4E5;
    --gradient-one-13: #1BCDE4;
    --gradient-one-14: #15D2E3;
    --gradient-one-15: #11D6E2;
    --gradient-one-16: #10D7E2;

    --gradient-two-1: #6964DE;
    --gradient-two-2: #FCA6E9;

    --gradient-three-1: #F4426C;
    --gradient-three-2: #FBF2B1;

    --gradient-four-1: #D24074;
    --gradient-four-2: #6518B4;

    --components-color: #6CACE4;

    --sans: 'DM Sans';
    --poppins: 'Poppins';
    --inter: 'Inter';
}

.light-mode-variables{
    --white: #000;
    --black: #fff;
    --gray-50: #0d0d0d;
    --gray-100: #171717;
    --gray-200: #262626;
    --gray-300: #333;
    --gray-400: #4e4e4e;
    --gray-500: #333;
    --gray-600: #9b9b9b;
    --gray-700: #b4b4b4;
    --gray-800: #edeffd;
    --gray-850: #e3e3e3;
    --gray-900: #edeffd;
    --gray-950: #f9f9f9;

    --components-color: #4180b7;
}

/* create by AnselmoFerrer */

html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

ul, li {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.container {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
}

/* navegation style */

.navegation {
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5rem;
}

#logo {
    color: var(--white);
    font-family: 'DM Sans';
    font-weight: 600;
    transition: transform 0.2s ease-in;
    cursor: pointer;

}

#logo:hover {
    transform: scale(1.1);
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--inter);
    font-weight: 200;
    font-size: 13px;
    transition: transform 0.3s ease;
}

.nav-list ul {
    transition: transform 0.4s ease-in;
    transition: border-bottom 0.3s ease-in;
}

.nav-list ul:hover {
    transform: scale(1.1);
    border-bottom: 1px solid var(--white);
}

#dark, #light {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--white);
}

#light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#light:hover {
    transform: scale(1.15);
}

#dark {
    display: none;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#dark:hover {
    transform: scale(1.15);
}

/* fix this */

.change-language {
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.change-language:hover {
    transform: scale(1.15);
}

.language-flag {
    width: 100%;
    height: 100%;
}

#eua {
    display: none; /* flex default */
    align-items: center;
    justify-content: center;
}

#brazil {
    display: none; 
    align-items: center;
    justify-content: center;
}

/* ----------------------------- */

/* main about style */

.about {
    width: 100%;
    height: fit-content;
    padding: 10rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}

#hello {
    color: var(--white);
    font-weight: 200;
    font-family: var(--inter);
    font-size: 15px;
}

#name {
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789, #DD5789);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 90px;
    font-family: var(--poppins);
}

#dev {
    color: var(--white);
    font-family: var(--inter);
    font-weight: 500;
    font-size: 25px;
}

.profile-img {
    width: 500px;
    height: 250px;
    position: absolute;
    background-color: transparent;
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789, #DD5789);
    border-radius: 50%;
    right: 150px;
    top: 150px;
    filter: blur(200px);
}

.contacts-links {
    width: 100%;
    padding: 10rem 0rem 5rem 0rem;
}

.contacts-a {
    width: 100%;
    height: 100%;
}

.contacts-button {
    background: linear-gradient(#000, #000) padding-box, linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
    border: 2px solid transparent;
    padding: 1rem 3rem; 
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
    margin-right: 0.5rem;

    transition: transform 0.3s ease;
}

.contacts-button:hover {
    transform: scale(1.05);
}

.fa-brands, .fa-envelope {
    color: var(--white);
    margin-right: 5px;
    font-size: 1rem;
}

#contacts-1 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(to right, #9358F7, #9259F7, #8E5DF6, #8862F5, #806BF4, #7575F2, #9358F7, #6882F0, #5990EE, #4A9FEB, #3BADE9, #2EBAE7, #1BCDE4, #15D2E3, #11D6E2, #10D7E2) border-box;
}

#contacts-2 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(to right, #6964DE, #FCA6E9) border-box;
}

#contacts-3 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(to right, #F4426C, #FBF2B1) border-box;
}

#contacts-4 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(to right, #D24074, #6518B4) border-box;
}


/* main skills style */

.skills {
    background-color: var(--black);
    width: 100%;
    height: fit-content;
    padding: 5rem 5rem 0rem 5rem;
}

#skills-title {
    color: var(--white);
    font-family: var(--inter);
    font-size: 30px;
    font-weight: 500;
}

#skills-line {
    border-top: 1px solid var(--gray-500);
    padding-top: .7rem;
}

.skills-content {
    display: flex;
    justify-content: space-around;
}

.skills-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 5rem 0rem;

    transition: transform 0.3s ease;
}

.skills-card:hover {
    transform: scale(1.1);
}


.skills-circular {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 18px solid transparent;
}

.skills-circular-text {
    z-index: 1000;
    position: absolute;
    color: var(--white);
    top: 37%;

    font-family: var(--poppins);
    font-weight: 500;
    font-size: 40px;
}

#circular-1 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(120deg, var(--black) 10%, var(--black) 20%, #3C1DFF, #3C1DFF, #3C1DFF, #15B9B9, #15B9B9, #15B9B9) border-box;
    animation: animar1 1s ease;
    animation-timeline: view();
}

#circular-2 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(200deg, var(--black) 20%, var(--black) 1%, #7575F2, #7575F2, #7575F2, #9259F7, #9259F7, #9259F7) border-box;
    animation: animar2 1s ease;
    animation-timeline: view();
}

#circular-3 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(120deg,#15B9B9, #3C1DFF) border-box;
    animation: animar4 1s ease;
    animation-timeline: view();
}

#circular-4 {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(300deg, var(--black) 20%, var(--black) 1%, #7575F2, #7575F2, #7575F2, #9259F7, #9259F7, #9259F7) border-box;
    animation: animar3 1s ease;
    animation-timeline: view();
}

@keyframes animar1 {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animar2 {
    0% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animar3 {
    0% {
        transform: rotate(200deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animar4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.skills-card-title {
    font-family: var(--poppins);
    color: var(--white);
    font-weight: 200;
    font-size: 15px;
}

/* main projetos style */

.projects {
    background-color: var(--black);
    padding: 5rem;
}






.projects-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.projects-top-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.projects-top-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#line-1 {
    width: 100px;
    height: 0.5px;
    background-color: var(--gray-500);
}

#line-2 {
    width: 90%;
    height: 0.5px;
    background-color: var(--gray-500);
}

#projects-title {
    color: var(--white);
    font-family: var(--inter);
    font-size: 40px;
    letter-spacing: 1px;
}

.projects-content {
    width: 100%;
    height: fit-content;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects-card-1, .projects-card-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    padding-bottom: 3rem;
}

#animation-1 {
    animation: fly-in 1s ease-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry 100%;
}

#animation-2 {
    animation: fly-out 1s ease-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry 40%;
}

.projects-img {
    width: 100%;
    height: 21rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.3;
    transition: transform 0.3s ease;
    transition: opacity 0.6s ease-in;
}

.projects-img:hover {
    transform: scale(1.02);
    opacity: 1;
}

.projects-card-title {
    color: var(--white);
    font-family: var(--inter);
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 1.2rem;
}

.projects-card-subtitle {
    color: var(--gray-500);
    font-family: var(--inter);
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 1rem;
}

.projects-used-componets {
    color: var(--components-color);
    font-family: var(--inter);
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 1.2rem;
}

.projects-demo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects-demo-btn {
    background: linear-gradient(var(--black), var(--black)) padding-box, linear-gradient(to right, #9358F7, #9259F7, #8E5DF6, #8862F5, #806BF4, #7575F2, #9358F7, #6882F0, #5990EE, #4A9FEB, #3BADE9, #2EBAE7, #1BCDE4, #15D2E3, #11D6E2, #10D7E2) border-box;
    border: 2px solid transparent;
    padding: 0.8rem 2rem; 
    border-radius: 0.3rem;
    color: var(--white);
    cursor: pointer;
    font-family: var(--inter);
    font-weight: 200;
    font-size: 13px;

    transition: transform 0.3s ease;
}

.fa-link {
    color: var(--white);
    margin-right: 5px;
}

.projects-demo-btn:hover {
    transform: scale(1.05);
}

.projects-demo-github {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border: 0;
    cursor: pointer;

    transition: transform 0.3s ease;
}

.projects-demo-github:hover {
    transform: scale(1.1);
}

#demo-github {
    color: var(--white);
    font-size: 1.7rem;
}

/* main more section */

.more {
    background-color: var(--black);
    width: 100%;
    height: fit-content;
    padding: 5rem;
}

.more-content {
    width: 100%;
    display: flex;
    gap: 20rem;
}

.language-card {
    width: 50%;
}

#language-title, #studies-title {
    color: var(--white);
    font-family: var(--inter);
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid var(--gray-500);
    padding-right: 10rem;
    padding-bottom: 0.2rem;
    font-size: 30px;

}

.language-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

#portugues, #ingles {
    color: var(--white);
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    padding: 1.5rem 0rem 1rem 0rem;
}

#portugues-line {
    width: 80%;
    height: 20px;
    background-color: var(--white);
    background: linear-gradient(to right, #3C1DFF, #3C1DFF, #14C9C9);
    border-radius: 1rem;

    animation: portugues 0.7s ease-out;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

#ingles-line {
    width: 65%;
    height: 20px;
    background-color: var(--white);
    background: linear-gradient(to right, #3C1DFF, #3C1DFF, #14C9C9);
    border-radius: 1rem;

    animation: english 0.7s ease-out;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

#portugues-subtitle, #ingles-subtitle {
    position: absolute;
    color: var(--white);
    font-family: var(--inter);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

#portugues-subtitle {
    top: 40px;
    right: 21%;
}

#ingles-subtitle {
    top: 40px;
    right: 36%;
}

.studies-card {
    width:40%;
}

.studies-content {
    padding: 2rem 0rem 0.3rem 0rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.studies-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
    background: linear-gradient(to top, #3C1DFF, #3C1DFF, #14C9C9);
}

.fa-book {
    color: #fff;
}

.studies-name {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#studies-university {
    color: var(--white);
    font-family: var(--inter);
    font-weight: 500;
}

#studies-subtitle {
    color: var(--gray-500);
    font-family: var(--inter);
    font-size: 10px;
    font-weight: 300;
}

/* main certificado style */

.certificado {
    width: 100%;
    height: fit-content;
    padding: 10rem 5rem;
    background-color: var(--black);
}

.certificado-line {
    width: 100%;
    height: 1px;
    background-color: var(--gray-500);
    margin-bottom: 2rem;
}

.certificado-content {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#certificado-title {
    color: var(--white);
    font-family: var(--inter);
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 30px;
}

.certificado-card {
    position: relative;
    padding-top: 3rem;
    width: 30%;

    transition: transform 0.3s ease;
    cursor: pointer;
}

.certificado-card:hover {
    transform: scale(1.05);
}

.certificado-text {
    position: absolute;
    bottom: 40px;
    left: 30px;
    display: flex;
    flex-direction: column;
}

.certificado-img  {
    border-radius: 0.2rem;
    width: 100%;
    height: 20rem;
    opacity: 0.8;
    cursor: pointer;
    opacity: 0.2;
    transition: transform 0.3s ease;
    transition: opacity 0.6s ease-in;
}


.certificado-img:hover {
transform: scale(1.02);
opacity: 1;
}

.certificado-img:hover + .certificado-text {
    opacity: 0;
}

.certificado-title {
    color: white;
    font-family: var(--inter);
    font-size: 18px;
}

.certificado-locate {
    color: #fff;
    font-family: var(--inter);
    font-size: 14px;
    margin: 0.3rem 0rem 0.15rem 0rem;
    font-weight: 300;
}

.certificado-date {
    color: #fff;
    font-family: var(--inter);
    font-size: 10px;
}

.certificado-more {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.more-btn {
    border: 2px solid transparent;
    padding: 0.8rem 3rem; 
    margin-top: 3rem;
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
    background-color: var(--gray-500);
    color: var(--black);

    transition: transform 1s ease;
    transition: background-color 0.3s ease;
}

.more-btn:hover {
    transform: scale(1.01);
    background-color: var(--white);
}

.fa-plus {
    margin-right: 5px;
}

/* footer style */

.footer {
    padding: 5rem;
    background-color: var(--black);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#footer-title {
    color: var(--white);
    font-size: 30px;
    font-family: var(--inter);
    font-weight: 400;
}

#footer-subtitle {
    color: var(--gray-500);
    font: 15px;
    font-family: var(--inter);
    font-weight: 300;
    padding-bottom: 1rem;
}

.footer-button {
    background: linear-gradient(#000, #000) padding-box, linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
    border: 2px solid transparent;
    padding: 1rem 3rem; 
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
    margin-right: 0.5rem;

    transition: transform 0.3s ease;
}

.footer-button:hover {
    transform: scale(1.05);
}

.copy-content {
    padding-top: 5rem;
}

#copyright {
    color: var(--gray-500);
    font-family: var(--inter);
}

.fa-copyright {
    color: var(--gray-500);
}

@keyframes fly-in {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}

@keyframes fly-out {
    0%   { 
    transform: translateX(-100vw); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}

@keyframes english {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes portugues {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

/* media screen  */

@media screen and (max-width: 425px) {
    .navegation {
        flex-direction: column;
        gap: 1.5rem;
    }

    .nav-list li {
        gap: 3rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .more-content {
        flex-direction: column;
    }

    .about {
        padding: 10rem 2rem 0rem 2rem;
    }

    #name {
        font-size: 45px;
        line-height: 100%;
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    #dev {
        font-size: 12px;
    }

    .contacts-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .contacts-links {
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;

    }

    .contacts-button {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .projects {
        padding: 1.5rem;
    }

    .projects-content {
        flex-direction: column;
    }
    
    .projects-card-1, .projects-card-2 {
        width: 100%;
    }
    
    .projects-img {
        height: 17rem;
    }

    .more-content {
        gap: 5rem;
    }

    .more {
        padding: 1.5rem;
    }

    .language-card {
        width: 100%;
    }
    
    #portugues-line {
        width: 100%;
    }
    
    #ingles-line {
        width: 85%;
    }
    
    #portugues-subtitle {
        right: 0%;
    }
    
    #ingles-subtitle {
        right: 16%;
    }
    
    .studies-card {
        width: 100%;
    }

    #studies-title {
        display: flex;
    }

    .certificado {
        padding: 5rem 1.5rem 10rem 1.5rem;
    }
    
    .certificado-card {
        width: 100%;
    }
    
    .certificado-img  {
        border-radius: 0.4rem;
        height: 17rem;
    }

    .footer {
        padding: 3rem;
    }

    .footer-button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-butons {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


@media screen and (min-width: 425px) and (max-width: 550px) {
    .navegation {
        flex-direction: column;
        gap: 1.5rem;
    }

    .nav-list li {
        gap: 3rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .more-content {
        flex-direction: column;
    }

    .about {
        padding: 10rem 2rem 0rem 2rem;
    }

    #name {
        font-size: 45px;
        line-height: 100%;
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    #dev {
        font-size: 12px;
    }

    .contacts-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .contacts-links {
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;

    }

    .contacts-button {
        width: 47%;
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .projects {
        padding: 1.5rem;
    }

    .projects-content {
        flex-direction: column;
    }
    
    .projects-card-1, .projects-card-2 {
        width: 100%;
    }
    
    .projects-img {
        height: 17rem;
    }

    .more-content {
        gap: 5rem;
    }

    .more {
        padding: 1.5rem;
    }

    .language-card {
        width: 100%;
    }
    
    #portugues-line {
        width: 100%;
    }
    
    #ingles-line {
        width: 85%;
    }
    
    #portugues-subtitle {
        right: 0%;
    }
    
    #ingles-subtitle {
        right: 16%;
    }
    
    .studies-card {
        width: 100%;
    }

    #studies-title {
        display: flex;
    }

    .certificado {
        padding: 5rem 1.5rem 10rem 1.5rem;
    }
    
    .certificado-card {
        width: 100%;
    }
    
    .certificado-img  {
        border-radius: 0.4rem;
        height: 17rem;
    }

    .footer {
        padding: 3rem;
    }

    .footer-button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer-butons {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .projects-img {
        height: 16rem;
    }
}


@media screen and (min-width: 550px) and (max-width: 1000px) {
    .navegation {
        flex-direction: row;
        gap: 3rem;
    }

    .nav-list li {
        gap: 3rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .more-content {
        flex-direction: column;
    }

    #name {
        font-size: 80px;
        line-height: 100%;
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    #dev {
        font-size: 16px;
    }

    .contacts-links {
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;

    }

    .contacts-button {
        width: 47%;
        margin-bottom: 1rem;
    }

    .projects {
        padding: 2rem;
    }

    .projects-content {
        flex-direction: column;
    }
    
    .projects-card-1, .projects-card-2 {
        width: 100%;
        align-items: center;
    }

    .projects-a {
        display: flex;
        justify-content: center;
    }
    
    .projects-img {
        width: 80%;
        height: 20rem;
    }

    .more-content {
        gap: 5rem;
    }

    .more {
        padding: 2rem;
    }

    .language-card {
        width: 100%;
    }
    
    #portugues-line {
        width: 100%;
    }
    
    #ingles-line {
        width: 85%;
    }
    
    #portugues-subtitle {
        right: 0%;
    }
    
    #ingles-subtitle {
        right: 16%;
    }
    
    .studies-card {
        width: 100%;
    }

    #studies-title {
        display: flex;
    }

    .certificado {
        padding: 5rem 2.5rem 10rem 2.5rem;
    }
    
    .certificado-card {
        width: 100%;
    }
    
    .certificado-img  {
        border-radius: 0.4rem;
        height: 24rem;
    }

    .footer-button {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .projects-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .projects-card-1, .projects-card-2 {
        width: 48%;
    }

    .certificado-content {
        display: flex;
        justify-content: center;
    }

    .certificado-card {
        width: 80%;
    }

    .projects-a {
        display: flex;
        justify-content: center;
    }
    
    .projects-img {
        width: 100%;
        height: 15rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
    .navegation {
        flex-direction: row;
        gap: 3rem;
    }

    .nav-list li {
        gap: 3rem;
    }

    .skills-content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .skills-card {
        width: 50%;
    }

    .more-content {
        flex-direction: column;
    }

    #name {
        font-size: 85px;
        line-height: 100%;
        padding: 1rem 0rem 1.2rem 0rem;
    }
    
    #dev {
        font-size: 18px;
    }

    .contacts-links {
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;

    }

    .contacts-button {
        width: 23%;
        margin-bottom: 1rem;
    }

    .projects-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .projects-card-1, .projects-card-2 {
        width: 48%;
    }

    .projects-a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .projects-img {
        width: 100%;
        height: 20rem;
    }

    .more-content {
        gap: 5rem;
        display: flex;
        flex-direction: row;
    }

    .language-card {
        width: 45%;
    }
    
    #portugues-line {
        width: 100%;
    }
    
    #ingles-line {
        width: 85%;
    }
    
    #portugues-subtitle {
        right: 0%;
    }
    
    #ingles-subtitle {
        right: 16%;
    }
    
    .studies-card {
        width: 50%;
    }

    #studies-title {
        display: flex;
    }

    .certificado {
        padding: 5rem 5rem 10rem 5rem;
        display: flex;
        flex-wrap: wrap;
    }
    
    .certificado-card {
        width: 48%;
    }
    
    .certificado-img  {
        border-radius: 0.4rem;
        height: 18rem;
    }

}